<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX1xcWQQw8lWWkrRMaGjQKLSf0X46hhuk</string>
	<key>GCM_SENDER_ID</key>
	<string>689210322615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dayton.InstagramTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-50520</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-50520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689210322615:ios:ca5e0973279c4faacfe732</string>
</dict>
</plist>